{% extends 'base.html' %}

{% load crispy_forms_tags %}
  

{% block content %}
    <div class="container">
      
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <h1 class="h1 text-center mb-3 text-light p-3 bg-info text-wrap">Create Post </h1>
                <form method="POST" enctype="multipart/form-data">
                    
                        {% csrf_token %}
                        {{ form|crispy }}
  
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
    
{% endblock %}